#Limpieza y control de datos

## Importar librerías

In [ ]:
import pandas as pd
import numpy as np
import datetime

## Abrir el dataset

In [ ]:
messiDf = pd.read_csv('https://raw.githubusercontent.com/cristiandarioortegayubro/base/main/dataset/messiSucio.csv')

In [ ]:
messiDf

,Tournament,Matchday,Date,Venue,Club,Opponent,Result,Position,Minute,When Scored,Goal Type,Assist,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompié,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Gaúcho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alavés,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Gaúcho,Antonela Rocuzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Ver el contenido de una columna

In [ ]:
messiDf['Date']

0        5/1/05
1       11/2/05
2      11/27/05
3       1/15/06
4       1/22/06
         ...
743         NaN
744         NaN
745         NaN
746         NaN
747         NaN
Name: Date, Length: 748, dtype: object

## Dimensiones del archivo

In [ ]:
messiDf.shape

(748, 13)

In [ ]:
filasDf = messiDf.shape[0]
filasDf

748

In [ ]:
columnasDf = messiDf.shape[1]
columnasDf

13

## Primeras 5 filas

In [ ]:
messiDf.head(5)

,Tournament,Matchday,Date,Venue,Club,Opponent,Result,Position,Minute,When Scored,Goal Type,Assist,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompié,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Gaúcho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alavés,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Gaúcho,Antonela Rocuzzo

## Traducir nombres de las columnas a Español

In [ ]:
messiLimpioDf = messiDf.rename(columns = {'Tournament': 'Torneo', 'Matchday': 'Jornada', 'Date' : 'Fecha', 'Venue' : 'Evento', 'Opponent' : 'Oponente', 'Result' : 'Resultado', 'Position' : 'Posición', 'Minute' : 'Minuto', 'When Scored' : 'Momento de anotación', 'Goal Type' : 'Tipo de gol', 'Assist' : 'Asistencia'}, inplace = False)
messiLimpioDf

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Pareja
0,LaLiga,34,5/1/05,Home,FC Barcelona,Albacete Balompié,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Gaúcho,Antonela Rocuzzo
1,Champions League,Group Stage,11/2/05,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
2,LaLiga,13,11/27/05,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Antonela Rocuzzo
3,LaLiga,19,1/15/06,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Antonela Rocuzzo
4,LaLiga,20,1/22/06,Home,FC Barcelona,Deportivo Alavés,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Gaúcho,Antonela Rocuzzo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Tipos de datos y cantidad de elementos no nulos por columnas

In [ ]:
messiLimpioDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Torneo                712 non-null    object
 1   Jornada               712 non-null    object
 2   Fecha                 712 non-null    object
 3   Evento                712 non-null    object
 4   Club                  712 non-null    object
 5   Oponente              712 non-null    object
 6   Resultado             712 non-null    object
 7   Posición              712 non-null    object
 8   Minuto                712 non-null    object
 9   Momento de anotación  712 non-null    object
 10  Tipo de gol           712 non-null    object
 11  Asistencia            712 non-null    object
 12  Pareja                712 non-null    object
dtypes: object(13)
memory usage: 76.1+ KB

In [ ]:
messiLimpioDf.dtypes

Torneo                  object
Jornada                 object
Fecha                   object
Evento                  object
Club                    object
Oponente                object
Resultado               object
Posición                object
Minuto                  object
Momento de anotación    object
Tipo de gol             object
Asistencia              object
Pareja                  object
dtype: object

## Si hay datos que no corresponden al contenido del dato. Cambiarlos

### Cambiar tipos de datos de las columnas que no correspondan

In [ ]:
messiLimpioDf = messiLimpioDf.astype({'Torneo':'string', 'Jornada':'string', 'Fecha':'datetime64[ns]', 'Evento':'string', 'Club':'string', 'Oponente':'string','Resultado':'string', 'Posición':'string', 'Minuto':'string', 'Momento de anotación':'string', 'Tipo de gol':'string', 'Asistencia':'string', 'Pareja':'string'})
messiLimpioDf.dtypes

Torneo                          string
Jornada                         string
Fecha                   datetime64[ns]
Evento                          string
Club                            string
Oponente                        string
Resultado                       string
Posición                        string
Minuto                          string
Momento de anotación            string
Tipo de gol                     string
Asistencia                      string
Pareja                          string
dtype: object

### Valores únicos por columna

In [ ]:
for columna in messiLimpioDf:
  print(columna)
  print(messiLimpioDf[columna].unique())

Torneo
<StringArray>
[               'LaLiga ',      'Champions League ',          'Copa del Rey ',
             'Supercopa ',        'Club World Cup ',        'UEFA Super Cup ',
               'Ligue 1 ', 'Trophée des Champions ',                     <NA>]
Length: 9, dtype: string
Jornada
<StringArray>
[            '34',    'Group Stage',             '13',             '19',
             '20',             '21', 'Quarter-Finals',             '24',
              '1',              '2',              '6',             '26',
             '27',             '28',    'Semi-Finals',             '35',
             '37',             '38',              '4',              '5',
              '7',              '9',        'last 16',             '25',
              '3',      '4th round',             '11',             '15',
             '18',             '31',             '33',          'Final',
          'final',              '8',             '10',             '17',
             '30',             '36',             '12',             '14',
             '22',             '32',             '29',             '16',
             '23',    'Round of 16',             <NA>]
Length: 47, dtype: string
Fecha
['2005-05-01T00:00:00.000000000' '2005-11-02T00:00:00.000000000'
 '2005-11-27T00:00:00.000000000' '2006-01-15T00:00:00.000000000'
 '2006-01-22T00:00:00.000000000' '2006-01-29T00:00:00.000000000'
 '2006-02-01T00:00:00.000000000' '2006-02-18T00:00:00.000000000'
 '2006-08-28T00:00:00.000000000' '2006-09-09T00:00:00.000000000'
 '2006-09-27T00:00:00.000000000' '2006-10-15T00:00:00.000000000'
 '2007-03-10T00:00:00.000000000' '2007-03-17T00:00:00.000000000'
 '2007-03-31T00:00:00.000000000' '2007-04-18T00:00:00.000000000'
 '2007-05-20T00:00:00.000000000' '2007-06-09T00:00:00.000000000'
 '2007-06-17T00:00:00.000000000' '2007-09-19T00:00:00.000000000'
 '2007-09-22T00:00:00.000000000' '2007-09-26T00:00:00.000000000'
 '2007-09-29T00:00:00.000000000' '2007-10-02T00:00:00.000000000'
 '2007-10-07T00:00:00.000000000' '2007-10-28T00:00:00.000000000'
 '2007-11-07T00:00:00.000000000' '2007-11-24T00:00:00.000000000'
 '2007-11-27T00:00:00.000000000' '2008-02-20T00:00:00.000000000'
 '2008-02-24T00:00:00.000000000' '2008-05-04T00:00:00.000000000'
 '2008-09-13T00:00:00.000000000' '2008-09-21T00:00:00.000000000'
 '2008-09-27T00:00:00.000000000' '2008-10-01T00:00:00.000000000'
 '2008-10-04T00:00:00.000000000' '2008-10-22T00:00:00.000000000'
 '2008-11-01T00:00:00.000000000' '2008-11-04T00:00:00.000000000'
 '2008-11-12T00:00:00.000000000' '2008-11-16T00:00:00.000000000'
 '2008-11-26T00:00:00.000000000' '2008-11-29T00:00:00.000000000'
 '2008-12-13T00:00:00.000000000' '2009-01-06T00:00:00.000000000'
 '2009-01-11T00:00:00.000000000' '2009-01-17T00:00:00.000000000'
 '2009-01-24T00:00:00.000000000' '2009-02-01T00:00:00.000000000'
 '2009-03-01T00:00:00.000000000' '2009-03-04T00:00:00.000000000'
 '2009-03-07T00:00:00.000000000' '2009-03-11T00:00:00.000000000'
 '2009-03-22T00:00:00.000000000' '2009-04-08T00:00:00.000000000'
 '2009-04-18T00:00:00.000000000' '2009-04-25T00:00:00.000000000'
 '2009-05-02T00:00:00.000000000' '2009-05-13T00:00:00.000000000'
 '2009-05-27T00:00:00.000000000' '2009-08-23T00:00:00.000000000'
 '2009-09-12T00:00:00.000000000' '2009-09-19T00:00:00.000000000'
 '2009-09-22T00:00:00.000000000' '2009-09-29T00:00:00.000000000'
 '2009-10-25T00:00:00.000000000' '2009-11-07T00:00:00.000000000'
 '2009-11-10T00:00:00.000000000' '2009-12-05T00:00:00.000000000'
 '2009-12-09T00:00:00.000000000' '2009-12-16T00:00:00.000000000'
 '2009-12-19T00:00:00.000000000' '2010-01-10T00:00:00.000000000'
 '2010-01-16T00:00:00.000000000' '2010-01-23T00:00:00.000000000'
 '2010-02-06T00:00:00.000000000' '2010-02-27T00:00:00.000000000'
 '2010-03-06T00:00:00.000000000' '2010-03-14T00:00:00.000000000'
 '2010-03-17T00:00:00.000000000' '2010-03-21T00:00:00.000000000'
 '2010-04-03T00:00:00.000000000' '2010-04-06T00:00:00.000000000'
 '2010-04-10T00:00:00.000000000' '2010-05-01T00:00:00.000000000'
 '2010-05-04T00:00:00.000000000' '2010-05-08T00:00:00.000000000'
 '2010-05-16T00:00:00.000000000' '2010-08-21T00:00:00.000000000'
 '2010-08-29T00:00:00.000000000' '2010-09-14T00:00:00.000000000'
 '2010-09-19T00:00:00.000000000' '2010-10-03T00:00:00.000000000'
 '2010-10-20T00:00:00.000000000' '2010-10-23T00:00:00.000000000'
 '2010-10-30T00:00:00.000000000' '2010-11-02T00:00:00.000000000'
 '2010-11-07T00:00:00.000000000' '2010-11-10T00:00:00.000000000'
 '2010-11-13T00:00:00.000000000' '2010-11-20T00:00:00.000000000'
 '2010-11-24T00:00:00.000000000' '2010-12-04T00:00:00.000000000'
 '2010-12-12T00:00:00.000000000' '2011-01-08T00:00:00.000000000'
 '2011-01-12T00:00:00.000000000' '2011-01-19T00:00:00.000000000'
 '2011-01-22T00:00:00.000000000' '2011-01-26T00:00:00.000000000'
 '2011-01-29T00:00:00.000000000' '2011-02-05T00:00:00.000000000'
 '2011-02-20T00:00:00.000000000' '2011-02-26T00:00:00.000000000'
 '2011-03-02T00:00:00.000000000' '2011-03-08T00:00:00.000000000'
 '2011-04-09T00:00:00.000000000' '2011-04-12T00:00:00.000000000'
 '2011-04-16T00:00:00.000000000' '2011-04-23T00:00:00.000000000'
 '2011-04-27T00:00:00.000000000' '2011-05-28T00:00:00.000000000'
 '2011-08-14T00:00:00.000000000' '2011-08-17T00:00:00.000000000'
 '2011-08-26T00:00:00.000000000' '2011-08-29T00:00:00.000000000'
 '2011-09-17T00:00:00.000000000' '2011-09-24T00:00:00.000000000'
 '2011-09-28T00:00:00.000000000' '2011-10-15T00:00:00.000000000'
 '2011-10-29T00:00:00.000000000' '2011-11-01T00:00:00.000000000'
 '2011-11-06T00:00:00.000000000' '2011-11-19T00:00:00.000000000'
 '2011-11-23T00:00:00.000000000' '2011-11-29T00:00:00.000000000'
 '2011-12-03T00:00:00.000000000' '2011-12-18T00:00:00.000000000'
 '2012-01-04T00:00:00.000000000' '2012-01-15T00:00:00.000000000'
 '2012-01-22T00:00:00.000000000' '2012-02-04T00:00:00.000000000'
 '2012-02-14T00:00:00.000000000' '2012-02-19T00:00:00.000000000'
 '2012-02-26T00:00:00.000000000' '2012-03-07T00:00:00.000000000'
 '2012-03-11T00:00:00.000000000' '2012-03-17T00:00:00.000000000'
 '2012-03-20T00:00:00.000000000' '2012-03-24T00:00:00.000000000'
 '2012-03-31T00:00:00.000000000' '2012-04-03T00:00:00.000000000'
 '2012-04-07T00:00:00.000000000' '2012-04-10T00:00:00.000000000'
 '2012-04-14T00:00:00.000000000' '2012-04-29T00:00:00.000000000'
 '2012-05-02T00:00:00.000000000' '2012-05-05T00:00:00.000000000'
 '2012-05-25T00:00:00.000000000' '2012-08-19T00:00:00.000000000'
 '2012-08-23T00:00:00.000000000' '2012-08-26T00:00:00.000000000'
 '2012-08-29T00:00:00.000000000' '2012-09-15T00:00:00.000000000'
 '2012-09-19T00:00:00.000000000' '2012-10-07T00:00:00.000000000'
 '2012-10-20T00:00:00.000000000' '2012-10-27T00:00:00.000000000'
 '2012-11-07T00:00:00.000000000' '2012-11-11T00:00:00.000000000'
 '2012-11-17T00:00:00.000000000' '2012-11-20T00:00:00.000000000'
 '2012-11-25T00:00:00.000000000' '2012-12-01T00:00:00.000000000'
 '2012-12-09T00:00:00.000000000' '2012-12-12T00:00:00.000000000'
 '2012-12-16T00:00:00.000000000' '2012-12-22T00:00:00.000000000'
 '2013-01-06T00:00:00.000000000' '2013-01-13T00:00:00.000000000'
 '2013-01-16T00:00:00.000000000' '2013-01-19T00:00:00.000000000'
 '2013-01-24T00:00:00.000000000' '2013-01-27T00:00:00.000000000'
 '2013-02-03T00:00:00.000000000' '2013-02-10T00:00:00.000000000'
 '2013-02-16T00:00:00.000000000' '2013-02-23T00:00:00.000000000'
 '2013-03-02T00:00:00.000000000' '2013-03-09T00:00:00.000000000'
 '2013-03-12T00:00:00.000000000' '2013-03-17T00:00:00.000000000'
 '2013-03-30T00:00:00.000000000' '2013-04-02T00:00:00.000000000'
 '2013-04-27T00:00:00.000000000' '2013-05-05T00:00:00.000000000'
 '2013-08-18T00:00:00.000000000' '2013-09-01T00:00:00.000000000'
 '2013-09-14T00:00:00.000000000' '2013-09-18T00:00:00.000000000'
 '2013-09-24T00:00:00.000000000' '2013-09-28T00:00:00.000000000'
 '2013-10-22T00:00:00.000000000' '2013-11-06T00:00:00.000000000'
 '2014-01-08T00:00:00.000000000' '2014-01-16T00:00:00.000000000'
 '2014-02-01T00:00:00.000000000' '2014-02-09T00:00:00.000000000'
 '2014-02-12T00:00:00.000000000' '2014-02-15T00:00:00.000000000'
 '2014-02-18T00:00:00.000000000' '2014-02-22T00:00:00.000000000'
 '2014-03-02T00:00:00.000000000' '2014-03-12T00:00:00.000000000'
 '2014-03-16T00:00:00.000000000' '2014-03-23T00:00:00.000000000'
 '2014-03-26T00:00:00.000000000' '2014-03-29T00:00:00.000000000'
 '2014-04-05T00:00:00.000000000' '2014-04-20T00:00:00.000000000'
 '2014-04-27T00:00:00.000000000' '2014-05-03T00:00:00.000000000'
 '2014-08-24T00:00:00.000000000' '2014-09-21T00:00:00.000000000'
 '2014-09-27T00:00:00.000000000' '2014-09-30T00:00:00.000000000'
 '2014-10-04T00:00:00.000000000' '2014-10-18T00:00:00.000000000'
 '2014-10-21T00:00:00.000000000' '2014-11-05T00:00:00.000000000'
 '2014-11-22T00:00:00.000000000' '2014-11-25T00:00:00.000000000'
 '2014-12-07T00:00:00.000000000' '2014-12-10T00:00:00.000000000'
 '2014-12-20T00:00:00.000000000' '2015-01-08T00:00:00.000000000'
 '2015-01-11T00:00:00.000000000' '2015-01-18T00:00:00.000000000'
 '2015-01-21T00:00:00.000000000' '2015-01-24T00:00:00.000000000'
 '2015-02-01T00:00:00.000000000' '2015-02-08T00:00:00.000000000'
 '2015-02-11T00:00:00.000000000' '2015-02-15T00:00:00.000000000'
 '2015-02-28T00:00:00.000000000' '2015-03-08T00:00:00.000000000'
 '2015-03-14T00:00:00.000000000' '2015-04-08T00:00:00.000000000'
 '2015-04-11T00:00:00.000000000' '2015-04-18T00:00:00.000000000'
 '2015-04-25T00:00:00.000000000' '2015-04-28T00:00:00.000000000'
 '2015-05-02T00:00:00.000000000' '2015-05-06T00:00:00.000000000'
 '2015-05-17T00:00:00.000000000' '2015-05-23T00:00:00.000000000'
 '2015-05-30T00:00:00.000000000' '2015-08-11T00:00:00.000000000'
 '2015-08-17T00:00:00.000000000' '2015-09-12T00:00:00.000000000'
 '2015-09-20T00:00:00.000000000' '2015-11-24T00:00:00.000000000'
 '2015-11-28T00:00:00.000000000' '2015-12-09T00:00:00.000000000'
 '2015-12-12T00:00:00.000000000' '2015-12-20T00:00:00.000000000'
 '2015-12-30T00:00:00.000000000' '2016-01-06T00:00:00.000000000'
 '2016-01-09T00:00:00.000000000' '2016-01-17T00:00:00.000000000'
 '2016-01-23T00:00:00.000000000' '2016-01-30T00:00:00.000000000'
 '2016-02-03T00:00:00.000000000' '2016-02-14T00:00:00.000000000'
 '2016-02-17T00:00:00.000000000' '2016-02-23T00:00:00.000000000'
 '2016-02-28T00:00:00.000000000' '2016-03-03T00:00:00.000000000'
 '2016-03-06T00:00:00.000000000' '2016-03-12T00:00:00.000000000'
 '2016-03-16T00:00:00.000000000' '2016-04-17T00:00:00.000000000'
 '2016-04-20T00:00:00.000000000' '2016-04-23T00:00:00.000000000'
 '2016-05-08T00:00:00.000000000' '2016-08-17T00:00:00.000000000'
 '2016-08-20T00:00:00.000000000' '2016-09-13T00:00:00.000000000'
 '2016-09-17T00:00:00.000000000' '2016-10-15T00:00:00.000000000'
 '2016-10-19T00:00:00.000000000' '2016-10-22T00:00:00.000000000'
 '2016-11-01T00:00:00.000000000' '2016-11-06T00:00:00.000000000'
 '2016-11-23T00:00:00.000000000' '2016-11-27T00:00:00.000000000'
 '2016-12-06T00:00:00.000000000' '2016-12-10T00:00:00.000000000'
 '2016-12-18T00:00:00.000000000' '2017-01-05T00:00:00.000000000'
 '2017-01-08T00:00:00.000000000' '2017-01-11T00:00:00.000000000'
 '2017-01-14T00:00:00.000000000' '2017-01-22T00:00:00.000000000'
 '2017-01-26T00:00:00.000000000' '2017-02-01T00:00:00.000000000'
 '2017-02-04T00:00:00.000000000' '2017-02-11T00:00:00.000000000'
 '2017-02-19T00:00:00.000000000' '2017-02-26T00:00:00.000000000'
 '2017-03-01T00:00:00.000000000' '2017-03-04T00:00:00.000000000'
 '2017-03-08T00:00:00.000000000' '2017-03-19T00:00:00.000000000'
 '2017-04-05T00:00:00.000000000' '2017-04-15T00:00:00.000000000'
 '2017-04-23T00:00:00.000000000' '2017-04-26T00:00:00.000000000'
 '2017-05-06T00:00:00.000000000' '2017-05-21T00:00:00.000000000'
 '2017-05-27T00:00:00.000000000' '2017-08-13T00:00:00.000000000'
 '2017-08-26T00:00:00.000000000' '2017-09-09T00:00:00.000000000'
 '2017-09-12T00:00:00.000000000' '2017-09-19T00:00:00.000000000'
 '2017-10-01T00:00:00.000000000' '2017-10-18T00:00:00.000000000'
 '2017-10-28T00:00:00.000000000' '2017-12-02T00:00:00.000000000'
 '2017-12-10T00:00:00.000000000' '2017-12-23T00:00:00.000000000'
 '2018-01-07T00:00:00.000000000' '2018-01-11T00:00:00.000000000'
 '2018-01-14T00:00:00.000000000' '2018-01-21T00:00:00.000000000'
 '2018-01-25T00:00:00.000000000' '2018-01-28T00:00:00.000000000'
 '2018-02-20T00:00:00.000000000' '2018-02-24T00:00:00.000000000'
 '2018-03-01T00:00:00.000000000' '2018-03-04T00:00:00.000000000'
 '2018-03-14T00:00:00.000000000' '2018-03-18T00:00:00.000000000'
 '2018-03-31T00:00:00.000000000' '2018-04-07T00:00:00.000000000'
 '2018-04-21T00:00:00.000000000' '2018-04-29T00:00:00.000000000'
 '2018-05-06T00:00:00.000000000' '2018-05-09T00:00:00.000000000'
 '2018-08-18T00:00:00.000000000' '2018-09-02T00:00:00.000000000'
 '2018-09-18T00:00:00.000000000' '2018-09-23T00:00:00.000000000'
 '2018-10-03T00:00:00.000000000' '2018-10-07T00:00:00.000000000'
 '2018-10-20T00:00:00.000000000' '2018-11-11T00:00:00.000000000'
 '2018-11-28T00:00:00.000000000' '2018-12-08T00:00:00.000000000'
 '2018-12-16T00:00:00.000000000' '2018-12-22T00:00:00.000000000'
 '2019-01-06T00:00:00.000000000' '2019-01-13T00:00:00.000000000'
 '2019-01-17T00:00:00.000000000' '2019-01-20T00:00:00.000000000'
 '2019-01-27T00:00:00.000000000' '2019-01-30T00:00:00.000000000'
 '2019-02-02T00:00:00.000000000' '2019-02-16T00:00:00.000000000'
 '2019-02-23T00:00:00.000000000' '2019-03-09T00:00:00.000000000'
 '2019-03-13T00:00:00.000000000' '2019-03-17T00:00:00.000000000'
 '2019-03-30T00:00:00.000000000' '2019-04-02T00:00:00.000000000'
 '2019-04-06T00:00:00.000000000' '2019-04-16T00:00:00.000000000'
 '2019-04-27T00:00:00.000000000' '2019-05-01T00:00:00.000000000'
 '2019-05-19T00:00:00.000000000' '2019-05-25T00:00:00.000000000'
 '2019-10-06T00:00:00.000000000' '2019-10-19T00:00:00.000000000'
 '2019-10-23T00:00:00.000000000' '2019-10-29T00:00:00.000000000'
 '2019-11-02T00:00:00.000000000' '2019-11-09T00:00:00.000000000'
 '2019-11-27T00:00:00.000000000' '2019-12-01T00:00:00.000000000'
 '2019-12-07T00:00:00.000000000' '2019-12-21T00:00:00.000000000'
 '2020-01-09T00:00:00.000000000' '2020-01-19T00:00:00.000000000'
 '2020-01-30T00:00:00.000000000' '2020-02-22T00:00:00.000000000'
 '2020-03-07T00:00:00.000000000' '2020-06-13T00:00:00.000000000'
 '2020-06-16T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2020-07-16T00:00:00.000000000' '2020-07-19T00:00:00.000000000'
 '2020-08-08T00:00:00.000000000' '2020-09-27T00:00:00.000000000'
 '2020-10-20T00:00:00.000000000' '2020-10-28T00:00:00.000000000'
 '2020-11-04T00:00:00.000000000' '2020-11-07T00:00:00.000000000'
 '2020-11-29T00:00:00.000000000' '2020-12-13T00:00:00.000000000'
 '2020-12-19T00:00:00.000000000' '2020-12-22T00:00:00.000000000'
 '2021-01-06T00:00:00.000000000' '2021-01-09T00:00:00.000000000'
 '2021-01-27T00:00:00.000000000' '2021-01-31T00:00:00.000000000'
 '2021-02-07T00:00:00.000000000' '2021-02-13T00:00:00.000000000'
 '2021-02-16T00:00:00.000000000' '2021-02-21T00:00:00.000000000'
 '2021-02-24T00:00:00.000000000' '2021-02-27T00:00:00.000000000'
 '2021-03-10T00:00:00.000000000' '2021-03-15T00:00:00.000000000'
 '2021-03-21T00:00:00.000000000' '2021-04-17T00:00:00.000000000'
 '2021-04-22T00:00:00.000000000' '2021-04-29T00:00:00.000000000'
 '2021-05-02T00:00:00.000000000' '2021-05-11T00:00:00.000000000'
 '2021-05-16T00:00:00.000000000' '2021-09-28T00:00:00.000000000'
 '2021-10-19T00:00:00.000000000' '2021-11-20T00:00:00.000000000'
 '2021-12-07T00:00:00.000000000' '2022-02-06T00:00:00.000000000'
 '2022-04-03T00:00:00.000000000' '2022-04-23T00:00:00.000000000'
 '2022-05-14T00:00:00.000000000' '2022-07-31T00:00:00.000000000'
 '2022-08-06T00:00:00.000000000' '2022-08-21T00:00:00.000000000'
 '2022-09-14T00:00:00.000000000' '2022-09-18T00:00:00.000000000'
 '2022-10-01T00:00:00.000000000'                           'NaT']
Evento
<StringArray>
['Home', 'Away', <NA>]
Length: 3, dtype: string
Club
<StringArray>
['FC Barcelona', 'Paris Saint-Germain', <NA>]
Length: 3, dtype: string
Oponente
<StringArray>
[           'Albacete Balompié',         'Panathinaikos Athens',
             'Racing Santander',              'Athletic Bilbao',
             'Deportivo Alavés',                 'RCD Mallorca',
                'Real Zaragoza',          'Real Betis Balompié',
                'Celta de Vigo',                   'CA Osasuna',
             'SV Werder Bremen',                   'Sevilla FC',
                  'Real Madrid',            'Recreativo Huelva',
       'Deportivo de La Coruña',                    'Getafe CF',
           'Atlético de Madrid',       'RCD Espanyol Barcelona',
       'Gimnàstic de Tarragona',               'Olympique Lyon',
                   'Levante UD',                'VfB Stuttgart',
                   'UD Almería',                   'Rangers FC',
                    'Celtic FC',                  'Valencia CF',
               'Sporting Gijón',             'Shakhtar Donetsk',
                'FC Basel 1893',                    'Málaga CF',
                  'Benidorm CD',                  'Sporting CP',
                  'CD Numancia',                'Bayern Munich',
            'Manchester United',                  'Dynamo Kyiv',
             'Cultural Leonesa',                   'CF Atlante',
 'Club Estudiantes de La Plata',                  'CD Tenerife',
           'Real Valladolid CF',                   'Arsenal FC',
                'Villarreal CF',                'FC Copenhagen',
       'Club Atlético de Ceuta',                'Real Sociedad',
                  'Hércules CF',                     'FC Porto',
                 'BATE Borisov',            'FC Viktoria Plzen',
                     'AC Milan',               'Rayo Vallecano',
                    'Santos FC',          'Bayer 04 Leverkusen',
                   'Granada CF',               'Spartak Moscow',
                   'Córdoba CF',          'Paris Saint-Germain',
               'Ajax Amsterdam',              'Manchester City',
                     'Elche CF',                     'SD Eibar',
                'APOEL Nicosia',                      'AS Roma',
               'CA River Plate',                   'CD Leganés',
     'Borussia Mönchengladbach',                'UD Las Palmas',
                  'Juventus FC',           'Olympiacos Piraeus',
                   'Chelsea FC',                    'Girona FC',
                    'SD Huesca',                'PSV Eindhoven',
            'Tottenham Hotspur',                 'Liverpool FC',
             'SK Slavia Prague',            'Borussia Dortmund',
                   'SSC Napoli',              'Ferencvárosi TC',
                     'Cádiz CF',                   'RB Leipzig',
                    'FC Nantes',               'Club Brugge KV',
                   'LOSC Lille',                   'FC Lorient',
                      'RC Lens',              'Montpellier HSC',
             'Clermont Foot 63',                'Maccabi Haifa',
                     'OGC Nice',                           <NA>]
Length: 92, dtype: string
Resultado
<StringArray>
['2:0', '5:0', '4:1', '2:1', '0:3', '5:1', '2:3', '3:0', '1:1', '3:1', '3:3',
 '0:4', '5:2', '0:6', '2:2', '1:5', '1:4', '0:2', '6:0', '1:6', '1:2', '6:1',
 '0:5', '1:0', '2:5', '1:3', '4:3', '4:0', '0:1', '2:6', '4:2', '2:4', '0:8',
 '3:2', '8:0', '7:1', '5:3', '0:7', '4:5', '7:0', '3:4', '5:4', '6:2', '8:2',
 '4:4', '1:7',  <NA>]
Length: 47, dtype: string
Posición
<StringArray>
['CF', 'RW', 'LW', 'SS', 'AM', <NA>]
Length: 6, dtype: string
Minuto
<StringArray>
["90'+1",   "34'",   "51'",   "50'",   "82'",   "75'",   "83'",   "42'",
   "84'",   "59'",   "36'",   "89'",   "80'",   "11'",   "28'",   "86'",
   "45'",   "29'",   "39'",   "43'",   "57'",   "72'",   "79'",    "5'",
   "10'",   "66'",   "19'",   "41'",   "81'",   "58'",   "18'",   "44'",
   "70'",   "85'",   "90'",   "87'", "90'+2",    "8'",    "4'",   "61'",
   "49'",   "78'",   "21'",   "76'",   "65'",   "30'",   "31'",   "40'",
   "26'",    "9'",   "38'",   "23'",   "35'",   "55'",   "68'",   "15'",
 "90'+3",   "63'",   "25'",   "64'",  "110'",   "54'",    "7'",   "56'",

## Método describe()
### count: cantidad de valores no vacíos
### unique: valores únicos
### top: elemento que más se repite
### freq: cantidad de veces que se repite el elemento

In [ ]:
messiLimpioDf.describe()

<ipython-input-195-0e81f777f712>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  messiLimpioDf.describe()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Pareja
count,712,712,712,712,712,712,712,712,712,712,712,712,712
unique,8,46,445,2,2,91,46,5,96,38,13,66,1
top,LaLiga,Group Stage,2022-08-06 00:00:00,Home,FC Barcelona,Sevilla FC,4:0,RW,86',1:0,Left-footed shot,Not Applicable,Antonela Rocuzzo
freq,474,79,6,420,672,38,48,319,14,104,441,218,712
first,NaN,NaN,2005-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2022-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Porcentaje de nulos por columna

In [ ]:
porcentajes_NaN_columnas = messiLimpioDf.isnull().sum()*100/len(messiLimpioDf)
porcentajes_NaN_columnas

Torneo                  4.812834
Jornada                 4.812834
Fecha                   4.812834
Evento                  4.812834
Club                    4.812834
Oponente                4.812834
Resultado               4.812834
Posición                4.812834
Minuto                  4.812834
Momento de anotación    4.812834
Tipo de gol             4.812834
Asistencia              4.812834
Pareja                  4.812834
dtype: float64

## Eliminar valores faltantes

In [ ]:
messiLimpioDf = messiLimpioDf.dropna(how='all') # Drop rows that has ALL Nan Values
messiLimpioDf.tail()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Pareja
707,Ligue 1,1,2022-08-06,Away,Paris Saint-Germain,Clermont Foot 63,0:5,CF,86',0:5,Left-footed shot,Leandro Paredes,Antonela Rocuzzo
708,Ligue 1,3,2022-08-21,Away,Paris Saint-Germain,LOSC Lille,1:7,AM,27',0:2,Right-footed shot,Nuno Mendes,Antonela Rocuzzo
709,Champions League,Group Stage,2022-09-14,Away,Paris Saint-Germain,Maccabi Haifa,1:3,SS,37',1:1,Left-footed shot,Not Applicable,Antonela Rocuzzo
710,Ligue 1,8,2022-09-18,Away,Paris Saint-Germain,Olympique Lyon,0:1,AM,5',0:1,Left-footed shot,Neymar,Antonela Rocuzzo
711,Ligue 1,9,2022-10-01,Home,Paris Saint-Germain,OGC Nice,2:1,AM,28',1:0,Direct free kick,Not Applicable,Antonela Rocuzzo

In [ ]:
messiLimpioDf.shape

(712, 13)

In [ ]:
messiLimpioDf.isnull().sum()*100/len(messiLimpioDf) # porcentajes de valores nulos por columna post limpieza total de nulos

Torneo                  0.0
Jornada                 0.0
Fecha                   0.0
Evento                  0.0
Club                    0.0
Oponente                0.0
Resultado               0.0
Posición                0.0
Minuto                  0.0
Momento de anotación    0.0
Tipo de gol             0.0
Asistencia              0.0
Pareja                  0.0
dtype: float64

### Eliminar filas que tienen un porcentaje de Nan mayor al 80%

In [ ]:
porcentajeNulos = 80.0
minValorNoNulos = int((100-porcentajeNulos)*messiLimpioDf.shape[1]/100)
messiLimpioDf = messiLimpioDf.dropna(axis=0, thresh=minValorNoNulos)
messiLimpioDf.info()
# sería lo mismo hacer
# messiLimpioDf = messiLimpioDf.dropna(axis = 0, thresh = int(messiLimpioDf.shape[1]*0.2))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 711
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Torneo                712 non-null    string
 1   Jornada               712 non-null    string
 2   Fecha                 712 non-null    datetime64[ns]
 3   Evento                712 non-null    string
 4   Club                  712 non-null    string
 5   Oponente              712 non-null    string
 6   Resultado             712 non-null    string
 7   Posición              712 non-null    string
 8   Minuto                712 non-null    string
 9   Momento de anotación  712 non-null    string
 10  Tipo de gol           712 non-null    string
 11  Asistencia            712 non-null    string
 12  Pareja                712 non-null    string
dtypes: datetime64[ns](1), string(12)
memory usage: 77.9 KB

## Eliminar columnas compeltas que no sirven para el análisis o no tienen info relevante

In [ ]:
messiLimpioDf = messiLimpioDf.drop(axis=1, columns='Pareja')
messiLimpioDf.shape

(712, 12)

In [ ]:
messiLimpioDf.head(3)

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompié,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Gaúcho
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o

## Eliminar columnas duplicadas

In [ ]:
messiLimpioDf = messiLimpioDf.T.drop_duplicates().T  # this removes all columns that have the same data regardless of column names
messiLimpioDf.shape

(712, 12)

## Separar datos útiles para el anbálisis. En este caso el año

In [ ]:
messiLimpioDf['Año'] = messiLimpioDf['Fecha'].dt.strftime('%Y')
messiLimpioDf.sample(5)

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Año
549,LaLiga,35,2018-04-29,Away,FC Barcelona,Deportivo de La Coruña,2:4,SS,85',2:4,Left-footed shot,Luis Suárez,2018
548,LaLiga,35,2018-04-29,Away,FC Barcelona,Deportivo de La Coruña,2:4,SS,82',2:3,Right-footed shot,Luis Suárez,2018
202,LaLiga,12,2011-11-06,Away,FC Barcelona,Athletic Bilbao,2:2,CF,90',2:2,Left-footed shot,Not Applicable,2011
398,LaLiga,31,2015-04-11,Away,FC Barcelona,Sevilla FC,2:2,RW,15',0:1,Left-footed shot,Neymar,2015
664,Copa del Rey,Final,2021-04-17,Away,FC Barcelona,Athletic Bilbao,0:4,CF,72',0:4,Left-footed shot,Jordi Alba,2021

## Separar columna Resultado en: Resultado_equipo y Resultado_oponente

In [ ]:
resultadoSeparado = messiLimpioDf['Resultado'].str.split(':',n = 1, expand=True) #the expand parameter is set to True, which means it will return a data frame with all separated strings in different columns
#print(resultadoSeparado[1])
messiLimpioDf['Resultado_equipo'] = np.where(messiLimpioDf['Evento']=='Home', resultadoSeparado[0], resultadoSeparado[1]) #condition -When True, yield x, otherwise yield y.
messiLimpioDf['Resultado_oponente'] = np.where(messiLimpioDf['Evento']=='Away', resultadoSeparado[0], resultadoSeparado[1])
messiLimpioDf.sample(10)

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Año,Resultado_equipo,Resultado_oponente
690,Ligue 1,30,2022-04-03,Home,Paris Saint-Germain,FC Lorient,5:1,RW,73',4:1,Left-footed shot,Kylian Mbappé,2022,5,1
241,LaLiga,34,2012-04-14,Away,FC Barcelona,Levante UD,1:2,CF,64',1:1,Left-footed shot,Alexis Sánchez,2012,2,1
476,Copa del Rey,last 16,2017-01-05,Away,FC Barcelona,Athletic Bilbao,2:1,RW,52',2:1,Direct free kick,Not Applicable,2017,1,2
125,LaLiga,38,2010-05-16,Home,FC Barcelona,Real Valladolid CF,4:0,RW,61',3:0,Right-footed shot,Yaya Touré,2010,4,0
58,Copa del Rey,last 16,2009-01-06,Away,FC Barcelona,Atlético de Madrid,1:3,RW,11',0:1,Left-footed shot,Dani Alves,2009,3,1
341,LaLiga,28,2014-03-16,Home,FC Barcelona,CA Osasuna,7:0,CF,18',1:0,Left-footed shot,Alexis Sánchez,2014,7,0
648,Copa del Rey,Round of 16,2021-01-27,Away,FC Barcelona,Rayo Vallecano,1:2,CF,69',1:1,Left-footed shot,Antoine Griezmann,2021,2,1
656,LaLiga,1,2021-02-24,Home,FC Barcelona,Elche CF,3:0,CF,68',2:0,Left-footed shot,Frenkie de Jong,2021,3,0
705,Trophée des Champions,Final,2022-07-31,Home,Paris Saint-Germain,FC Nantes,4:0,CF,22',1:0,Right-footed shot,Not Applicable,2022,4,0
83,LaLiga,3,2009-09-19,Home,FC Barcelona,Atlético de Madrid,5:2,RW,15',2:0,Left-footed shot,Xavi,2009,5,2

In [ ]:
messiLimpioDf.dtypes

Torneo                          object
Jornada                         object
Fecha                   datetime64[ns]
Evento                          object
Club                            object
Oponente                        object
Resultado                       object
Posición                        object
Minuto                          object
Momento de anotación            object
Tipo de gol                     object
Asistencia                      object
Año                             object
Resultado_equipo                object
Resultado_oponente              object
dtype: object

## Convertir columna minuto en tipo numérico

In [ ]:
prueba = messiLimpioDf  # elimiando todos los " ' " de la columna "Minutos"
prueba["Minuto"] = prueba["Minuto"].replace("'","",regex=True)
prueba["Minuto"]

0      90+1
1        34
2        51
3        50
4        82
       ...
707      86
708      27
709      37
710       5
711      28
Name: Minuto, Length: 712, dtype: object

### Separar columna minuto en columnas minuto_partido y minuto_extra

In [ ]:
minutosSeparada = messiLimpioDf['Minuto'].str.split('+',n = 1, expand=True) #the expand parameter is set to True, which means it will return a data frame with all separated strings in different columns
minutosSeparada

      0     1
0    90     1
1    34  None
2    51  None
3    50  None
4    82  None
..   ..   ...
707  86  None
708  27  None
709  37  None
710   5  None
711  28  None

[712 rows x 2 columns]

In [ ]:
messiLimpioDf['minuto_partido'] = minutosSeparada[0]
messiLimpioDf['minuto_extra'] = minutosSeparada[1]
messiLimpioDf.sample(5)

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Año,Resultado_equipo,Resultado_oponente,minuto_partido,minuto_extra
483,LaLiga,21,2017-02-04,Home,FC Barcelona,Athletic Bilbao,3:0,RW,40,2:0,Direct free kick,Not Applicable,2017,3,0,40,None
323,LaLiga,7,2013-09-28,Away,FC Barcelona,UD Almería,0:2,CF,21,0:1,Left-footed shot,Pedro,2013,2,0,21,None
135,Champions League,Group Stage,2010-10-20,Home,FC Barcelona,FC Copenhagen,2:0,CF,18,1:0,Left-footed shot,Andrés Iniesta,2010,2,0,18,None
578,Copa del Rey,Quarter-Finals,2019-01-30,Home,FC Barcelona,Sevilla FC,6:1,RW,90+2,6:1,Left-footed shot,Jordi Alba,2019,6,1,90,2
638,LaLiga,9,2020-11-07,Home,FC Barcelona,Real Betis Balompié,5:2,CF,61,3:1,Penalty,Not Applicable,2020,5,2,61,None

### Corrección de tipos de dato

In [ ]:
messiLimpioDf.dtypes

Torneo                          object
Jornada                         object
Fecha                   datetime64[ns]
Evento                          object
Club                            object
Oponente                        object
Resultado                       object
Posición                        object
Minuto                          object
Momento de anotación            object
Tipo de gol                     object
Asistencia                      object
Año                             object
Resultado_equipo                object
Resultado_oponente              object
minuto_partido                  object
minuto_extra                    object
dtype: object

In [ ]:
messiLimpioDf = messiLimpioDf.astype({'Torneo':'string', 'Jornada':'string', 'Fecha':'datetime64[ns]', 'Evento':'string', 'Club':'string', 'Oponente':'string','Resultado':'string', 'Posición':'string', 'Minuto':'string', 'Momento de anotación':'string', 'Tipo de gol':'string', 'Asistencia':'string', 'Año':'int', 'Resultado_equipo':'int', 'Resultado_oponente':'int', 'minuto_partido':'int'})#, 'minuto_extra':'int64'})
messiLimpioDf.dtypes  #columna minuto_extra tiene valores None por lo que no se puede realizar una conversión simple

Torneo                          string
Jornada                         string
Fecha                   datetime64[ns]
Evento                          string
Club                            string
Oponente                        string
Resultado                       string
Posición                        string
Minuto                          string
Momento de anotación            string
Tipo de gol                     string
Asistencia                      string
Año                              int64
Resultado_equipo                 int64
Resultado_oponente               int64
minuto_partido                   int64
minuto_extra                    object
dtype: object

#Análisis de datos

In [ ]:
messiLimpioDf.head()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Año,Resultado_equipo,Resultado_oponente,minuto_partido,minuto_extra
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompié,2:0,CF,90+1,2:0,Left-footed shot,Ronaldinho Gaúcho,2005,2,0,90,1
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34,3:0,Left-footed shot,Not Applicable,2005,5,0,34,None
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51,2:0,Left-footed shot,Samuel Eto'o,2005,4,1,51,None
3,LaLiga,19,2006-01-15,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50,2:1,Left-footed shot,Mark van Bommel,2006,2,1,50,None
4,LaLiga,20,2006-01-22,Home,FC Barcelona,Deportivo Alavés,2:0,CF,82,2:0,Left-footed shot,Ronaldinho Gaúcho,2006,2,0,82,None

## ¿Mete más goles en el primer o en el segundo tiempo?

In [ ]:
contadorPrimerT=0
contadorSegundoT=0

for minuto in messiLimpioDf['minuto_partido']:
  if minuto<=45:
    contadorPrimerT += 1
  else:
    contadorSegundoT += 1
golesTotales = contadorPrimerT + contadorSegundoT
print('Porcentaje de goles en el primer tiempo: ' + str(contadorPrimerT*100/golesTotales))
print('Porcentaje de goles en el segundo tiempo: ' + str(contadorSegundoT*100/golesTotales))

Porcentaje de goles en el primer tiempo: 44.662921348314605
Porcentaje de goles en el segundo tiempo: 55.337078651685395

In [ ]:
if contadorPrimerT>contadorSegundoT:
  print('Messi mete más goles en el primer tiempo')
else:
  print('Messi mete más goles en el segundo tiempo')

Messi mete más goles en el segundo tiempo

##¿Cuántos goles hizo Messi por partido?
### Sacar promedio agrupando los registros de goles por partido

In [ ]:
messiLimpioDf.tail()

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Año,Resultado_equipo,Resultado_oponente,minuto_partido,minuto_extra
707,Ligue 1,1,2022-08-06,Away,Paris Saint-Germain,Clermont Foot 63,0:5,CF,86,0:5,Left-footed shot,Leandro Paredes,2022,5,0,86,None
708,Ligue 1,3,2022-08-21,Away,Paris Saint-Germain,LOSC Lille,1:7,AM,27,0:2,Right-footed shot,Nuno Mendes,2022,7,1,27,None
709,Champions League,Group Stage,2022-09-14,Away,Paris Saint-Germain,Maccabi Haifa,1:3,SS,37,1:1,Left-footed shot,Not Applicable,2022,3,1,37,None
710,Ligue 1,8,2022-09-18,Away,Paris Saint-Germain,Olympique Lyon,0:1,AM,5,0:1,Left-footed shot,Neymar,2022,1,0,5,None
711,Ligue 1,9,2022-10-01,Home,Paris Saint-Germain,OGC Nice,2:1,AM,28,1:0,Direct free kick,Not Applicable,2022,2,1,28,None

In [ ]:
golesPorPartido = messiLimpioDf.groupby('Fecha')['Fecha'].count()
golesPorPartido

Fecha
2005-05-01    1
2005-11-02    1
2005-11-27    1
2006-01-15    1
2006-01-22    1
             ..
2022-08-06    6
2022-08-21    3
2022-09-14    3
2022-09-18    3
2022-10-01    3
Name: Fecha, Length: 445, dtype: int64

In [ ]:
print('En los partidos que hace goles, el promedio de goles por partido es de: ' + str(golesPorPartido.mean()))

En los partidos que hace goles, el promedio de goles por partido es de: 1.6

In [ ]:
golesPorPartido.tail(15) # ??No comprendo por qué las últimas filas de la serie agrupan los goles y los multiplican x3. Sucede a partir del a fecha 2022-04-03

Fecha
2021-05-16    1
2021-09-28    1
2021-10-19    2
2021-11-20    1
2021-12-07    2
2022-02-06    1
2022-04-03    3
2022-04-23    3
2022-05-14    6
2022-07-31    3
2022-08-06    6
2022-08-21    3
2022-09-14    3
2022-09-18    3
2022-10-01    3
Name: Fecha, dtype: int64

## Total de goles por año

In [ ]:
messiLimpioDf

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posición,Minuto,Momento de anotación,Tipo de gol,Asistencia,Año,Resultado_equipo,Resultado_oponente,minuto_partido,minuto_extra
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompié,2:0,CF,90+1,2:0,Left-footed shot,Ronaldinho Gaúcho,2005,2,0,90,1
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34,3:0,Left-footed shot,Not Applicable,2005,5,0,34,None
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51,2:0,Left-footed shot,Samuel Eto'o,2005,4,1,51,None
3,LaLiga,19,2006-01-15,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50,2:1,Left-footed shot,Mark van Bommel,2006,2,1,50,None
4,LaLiga,20,2006-01-22,Home,FC Barcelona,Deportivo Alavés,2:0,CF,82,2:0,Left-footed shot,Ronaldinho Gaúcho,2006,2,0,82,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,Ligue 1,1,2022-08-06,Away,Paris Saint-Germain,Clermont Foot 63,0:5,CF,86,0:5,Left-footed shot,Leandro Paredes,2022,5,0,86,None
708,Ligue 1,3,2022-08-21,Away,Paris Saint-Germain,LOSC Lille,1:7,AM,27,0:2,Right-footed shot,Nuno Mendes,2022,7,1,27,None
709,Champions League,Group Stage,2022-09-14,Away,Paris Saint-Germain,Maccabi Haifa,1:3,SS,37,1:1,Left-footed shot,Not Applicable,2022,3,1,37,None
710,Ligue 1,8,2022-09-18,Away,Paris Saint-Germain,Olympique Lyon,0:1,AM,5,0:1,Left-footed shot,Neymar,2022,1,0,5,None
711,Ligue 1,9,2022-10-01,Home,Paris Saint-Germain,OGC Nice,2:1,AM,28,1:0,Direct free kick,Not Applicable,2022,2,1,28,None

In [ ]:
golesPorAño = messiLimpioDf.groupby('Año')['Año'].count()
golesPorAño

Año
2005     3
2006    10
2007    25
2008    20
2009    38
2010    58
2011    55
2012    79
2013    39
2014    50
2015    48
2016    51
2017    50
2018    47
2019    45
2020    26
2021    34
2022    34
Name: Año, dtype: int64

## Promedio de goles por tipo de movimiento

In [ ]:
golesPorTipoDeMovimiento = messiLimpioDf.groupby('Tipo de gol')['Tipo de gol'].count()
golesPorTipoDeMovimiento

Tipo de gol
Chest                       1
Counter attack goal         1
Deflected shot on goal      2
Direct free kick           53
Header                     24
Left-footed shot          441
Long distance kick          1
Not Applicable              1
Penalty                    84
Penalty rebound             3
Right-footed shot          87
Solo run                    4
Tap-in                     10
Name: Tipo de gol, dtype: int64

# Descargar los datasets limpios

In [ ]:
messiLimpioDf_a_excel = pd.ExcelWriter('MessiLimpioDf.xlsx')
messiLimpioDf.to_excel(messiLimpioDf_a_excel)

In [ ]:
messiLimpioDf_a_excel.save()